.header {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 620px) {
  .header {
    width: 100%;
    padding-top: 28px;
    padding-bottom: 32px;
  }
}

.header__menu {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
  height: 100%;
}

.header__link {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.header__link:hover {
  opacity: 0.60;
}